<!DOCTYPE html>
<html>
<head>
  <title>Userapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
<body>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Coursera</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><%=link_to 'Home',page_home_path%></li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="caret"></span></a>
        <% if user_signed_in? %>
        <ul class="dropdown-menu">
          <li> <%=link_to 'Profile',edit_user_registration_path%></li>
          <li><%=link_to 'Lectures',lectures_path%></li>
          <li><%=link_to "Sign Out" , destroy_user_session_path, method: :delete%></li>
        </ul>
            </li>
            <li><%= image_tag (current_user.profilepicture.url ) if current_user.profilepicture? %></li>
        </ul>

        <%else%>
            <li><%=link_to "Sign In" , new_user_session_path%></li>
            <li><%=link_to "Sign Up" ,new_user_registration_path%></li>
        <%end%>

  </div>
</nav>
<%= yield %>




</body>
</html>
