<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @course.user.try(:email) %>
</p>

<p>
  <strong>Related Lectures:</strong><br>
  <%if @course.lectures%>
      <% @course.lectures.each do |c|  %>

          <%=link_to c.content,lecture_path(c)%><br>

      <%end%>
  <%end%>
</p>

  <%if @course.user_id==current_user.id%>


<%= link_to 'Edit', edit_course_path(@course) %> |

  <%end%>

<%= link_to 'Back', courses_path %>
<br>
<% if current_user.role == "instructor"%>
  <%= link_to 'New Lecture', new_lecture_path %>
<%end%>