<p id="notice"><%= notice %></p>

<h1>Listing Comments</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Lecture</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.comment %></td>
        <td><%= comment.lecture %></td>
        <td><%= comment.user.email %></td>
        <td><%= link_to 'Show', lecture_comment_path(comment.lecture,comment) %></td>
        <td><%= link_to 'Edit', edit_lecture_comment_path(comment.lecture,comment) %></td>
        <td><%= link_to 'Destroy', lecture_comment_path(comment.lecture, comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment',new_lecture_comment_path %>
