<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<p>
  <strong>Lecture:</strong>
  <%= @comment.lecture.id %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user.email %>
</p>

<%= link_to 'Edit', edit_lecture_comment_path(@comment.lecture,@comment) %> |
<%= link_to 'Back', lecture_comments_path %>
